{% extends 'base.html'%}

{% block head %}
    <title>Task Manager</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h2>Task Planner</h2>

        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}

            <tr>
                <td> {{ task.content }} </td>
                <td> {{ task.date_created.date() }} </td>
                <td>
                    <a href="/delete/{{ task.id }}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>

            {% endfor %}
        </table> 

    </div>

    <form action="/home" method="post">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
{% endblock %}